/* ===== GENERAL PAGE STYLING ===== */
body {
    margin: 0;
    padding: 0;
    background-color: #5A0034; /* dark maroon */
    font-family: Arial, sans-serif;
}

/* Centered container */
.container {
    width: 95%;
    margin: 30px auto;
}

/* ===== HEADER SECTION ===== */
.header-box {
    background-color: #000; /* black background */
    color: white;
    padding: 15px 20px;
    border-radius: 8px;
}

.header-box h2 {
    margin: 0 0 10px 0;
    font-size: 23px;
    font-weight: bold;
}

.header-details p {
    margin: 3px 0;
    font-size: 14px;
}


/* ===== STUDENT INFO BOX ===== */
.student-info {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    column-gap: 70px;
}

.info-row p {
    margin: 3px 0;
    font-size: 14px;
}


/* ===== TABLE SECTION ===== */
.grade-table-box {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.table-header {
    background-color: #000;
    color: white;
    padding: 10px;
    font-weight: bold;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

th {
    background-color: #E0E0E0;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}

td {
    padding: 10px;
}

/* Alternating row colors */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect */
tr:hover {
    background-color: #f0f0f0;
}


/* ===== PRINT BUTTON ===== */
.print-btn {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.print-btn:hover {
    background-color: #333;
}
