.table-view .column-header-background {
    -fx-background-color: #f9fafb;
}

.table-view .column-header .label {
    -fx-text-fill: #6B7280;
    -fx-font-weight: bold;
    -fx-font-size: 13px;
}

.table-view {
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
